/* Reset */

*{
    margin: 0;
    padding: 0;
}

/* Etiquetas */

a {

    text-decoration: none!important;
    
} 

p{

    margin-bottom: 0!important;
}


/* .color1 { #ac8a4c };
.color2 { #e9d2c4 };
.color3 { #2a1a0b };
.color4 { #9b785c };
.color5 { #c4b4a4 }; */

/* TIPOGRAFÃA */

@font-face { 
    font-family: "Monstserrat-Black"; 
    src: url("../fonts/Montserrat-Black.otf"); 
}

.montserrat { 
    font-family: "Monstserrat-Black", cursive;
    font-size: 30px;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 1000;
    
}

.grid{
    display: grid;
    width: 100%;
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-rows: 70px 300 px 600px 600px 100px; */
    grid-template-areas:
    "acarrusel acarrusel acarrusel"
    "anav anav anav"
    "amain amain amain" 
    "amision amision amision"
    "afoot afoot afoot" ;



}


.carousel{
    grid-area: acarrusel;
    /* display: flex; */
    /* background-color: rgb(250, 244, 235); */
    /* justify-content: center; */

    /* height: 450px; */
    /* overflow: hidden; */
}
.carousel-item{
    height: 32rem;
    background: #777;
    position:relative;
}
.overlay-img{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;


}
.navbar{

    grid-area: anav;
}

.icolor{

    color: white;
}


.main{
    grid-area: amain;
    display: flex;

    background-color: rgb(250, 244, 235);

    justify-content: space-around;
    align-items: center;

    padding-left: 10%;
    padding-right : 10%;
    
}


.tittle {
    
    margin-bottom: 20px;
}

.main__texto{
    width: 50%;
    margin: 5%;
    text-align: left;

}

.main__suscripcion{
    max-width: 450px;
    width: 50%;
    margin: 5%;
    text-align: center;

    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 60px -10px rgba(0,0,0,0.75);
}

.main__suscripcion > form{
    display: flex;
    flex-direction: column;
}

.susc-input{

    background: rgb(250, 244, 235);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
}

.susc-boton {

    width: 50%;
    background-color:gray;
    border: none;
    padding: 12px;

    border-radius: 5px;
    margin: 16px 0;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.mision{
    grid-area: amision;
    display: flex;
    
    background-color: #d4cfb8;

    justify-content: space-around;
    align-items: center;

    padding-left: 10%;
    padding-right : 10%;

    }

.mision__texto{
    width: 50%;
    margin: 5%;
    text-align: center;
}

.mision__video{
    width: 50%;
    margin: 5%;
    text-align: center;
}

.iframe{

    width:50%;
}

.foot{
    grid-area: afoot;
}

.foot__direccion{


}


@media(max-width:600px) {
    .main{
        flex-wrap: wrap;
    }
    .mision{
        flex-wrap: wrap;
    }

    .foot{
        flex-wrap: wrap;
    }
    .main__suscripcion{
        /* background-color: blue; */
        width: 100%;
    }

    .iframe{
        width:100%;
    }

}

@media(max-width:768px){

    .foot__direccion{
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media(max-width:1024px){

    .main{
        padding-left: 0;
        padding-right : 0;
    }

    .mision {

        padding-left: 0;
        padding-right : 0;
    }
}


/* PAGE NOSOTROS */

.nuestros-comienzos{

    background-color: rgb(250, 244, 235);


}

.equipo{

    background-color: #d4cfb8;
}

.imagen {

    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: center;
    align-items: center;
}

.txt-imagen{

    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: center;
    /* align-items: center; */
}

.titulo-nosotros{
    padding: 15px;
}


@media(max-width:576px){

    .txt-imagen{
        height: auto;
        
    }


}

/* Clases para card */


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}


/*Profile Card*/
.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  overflow: hidden;
  max-width: 300px;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.95;

}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 5px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
