.head {
    text-align: center;
    background-color: $color-principal;

    h3{
        margin-bottom: 0px;
    }
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
    max-width: 100%;
    // margin-inline: auto;

    background-color: $color-principal;


    .card{
        
        max-width: 250px;
        margin: 20px;
    
    }
    
}

